# Ignore Python virtual environments
.venv/
__pycache__/
*.pyc

# Ignore DB inside the container
archery.db

# Ignore Git metadata
.git/
.gitignore

# Ignore system files
.DS_Store

# Ignore the docker-compose file
docker-compose.yml
# Ignore the Dockerfile
Dockerfile
